body, html {
  font-family: 'Open Sans', sans-serif;
}
body, html, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./assets/Mountains_Streams-01.png)
}

a {
  text-decoration: none;
  color: inherit;
}

.fa {
  font-size: 1.4em;
}

.app-info {
  display: flex;
  justify-content: space-around;
}

.standup-graph {
  border: 1px solid black;
}

.standup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.nodisplay {
  display:none !important;
}
.circle-container:hover .hoverable { outline: -webkit-focus-ring-color auto 5px; }
./*hoverable:hover {
  outline: -webkit-focus-ring-color auto 5px;
}*/
/*=====Persistent static navbar=====*/
/*header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 99%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  color:white;
}*/

header a {
  text-decoration: none;
  color: white;
}

header span {
  cursor: pointer;
}

footer {
  background-color: black;
  color:white;
  padding: 10px;
  bottom:0px;
  left:0px;
  width:100%;
}

.header-dropdown {
  position: absolute;
  color:black;
  left:85%;
  top:7%;
  border:1px solid black;
  background-color: white;
}

.header-dropdown li {
  padding: 10px 20px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.header-dropdown li:hover {
  background-color: black;
  color:white;
}

/*==============================*/
/*==========Form ==============*/
.loginform {
  display: flex;
  flex-direction: column;
  padding: 0 350px;
}

.loginform input {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

form input {
  border:none;
  font-family: inherit;
  font-size: inherit;
}

input[type='submit'], .backBtn {
  border:none;
  background-color: whitesmoke;
  color: black;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 20px;
}

input[type="button"] {
  border:none;
  background-color: whitesmoke;
  color: black;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 20px;
}

input[type='button']:hover {
  background-color: #ff9595;
  color: whitesmoke;
}

input[type='submit']:not(.daily-set):hover {
  background-color: #4CAF50;
  color: whitesmoke;
}

.backBtn {
  font-size: inherit;
  font-weight: inherit;
  margin:10px 0;
  font-family: inherit;
}

.backBtn:hover {
  background-color: #4CAF50;
  color: whitesmoke;
}
/* input[type='submit'], .search-form-button {
  border:none;
  background-color: #7dff7d;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  padding: 3px;
  margin: 0 3px;
  vertical-align: top;
  font-family: inherit; */

label {
  text-align: left;
}
#switch-login {
  display: inline-block;
  cursor: pointer;
  color: #677eff;
}

.title {
  margin-top: 45px;
}

.info-box {
  position: absolute;
  background-color: rgb(128, 222, 148);
  padding: 10px;
  text-align: left;
  color:#635a5a;
  font-size:small;
  line-height: 15px;
  border-radius: 3px;
}

.standupForm {
  display: inline-block;
  padding: 20px;
  text-align: right;
  background-color: white;
  border:1px solid black;
  border-radius: 3px;
  margin-left: 10px;
  font-size: small;
}

.standupForm label {
  text-align: right;
  display: block;
  margin-bottom: 20px;
}

.standupForm input[type="text"] {
  text-align: right;
  border: 1px solid black;
  padding: 2px;
  max-width: 135px;
}

textarea {
  resize:none;
}

.hidden {
  visibility: hidden;
}

.users-connected {
  border: 1px solid black;
  padding: 15px;
  margin-right: 10px;
  font-size: small;
}

.users-connected li {
  background-color: grey;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.user-indicator {
  width:10px;
  height: 10px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 100%;
  float: right;
}

textarea:disabled {
  background-color: #e6e6e6;
}

.room-inactive {
  color: red;
}

.room-active {
  color: #58da80;
}

.new-room-btn {
  display: inline-block;
  background-color: #68ca68;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.new-room-btn:hover {
  color: white;
}

.copied {
  color: #7cd186;
}
